.form-check-label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.comodidade {
    font-size: 1.5em;
}

#resultados {
    justify-content: center;
}

.row > :last-child {
    margin-right: auto;
}

#resultados > div:has(> p:first-child) {
    margin: inherit;
}